:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

/* Evitar que el body bloquee el scroll */
body, html {
  height: 100%;
  overflow-y: auto;
}

.selector-container {
  max-width: 900px;
  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 15px;
  background: #dc2234;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px;
  background: linear-gradient(90deg, #ffa84d, #ff8c00);
  color: white;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.3);
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
  color: #0f0b01; // un naranja "frito"
  letter-spacing: 1px;
}



.header-spacer {
  width: 40px;  // para balancear el “Volver”
}

.titulo {
  color: #e7ef0d;
  margin-bottom: .5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitulo {
  color: #ffffff;
  margin-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.descuento-box {
  background: #dc2234;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 2px solid #2ecc71;
}

.grid-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-juego {
  background: #b7bd04;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .2s ease;
}

.card-juego:hover {
  transform: scale(1.03);
}

.juego-img {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.descripcion {
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
  color: #444;
}

button[mat-raised-button] {
  width: 100%;
  padding: 12px 0;
  font-size: 17px;
  font-weight: bold;
  border-radius: 10px;
}

* {
  font-family: 'Poppins', sans-serif !important;
}
