<ion-content class="anonimo-page fritos-theme" fullscreen>
  <div class="full-screen-grid">
    
    <div class="anonimo-panel">
      
      <header class="ion-padding-vertical">
        <img
          src="https://jpwlvaprtxszeimmimlq.supabase.co/storage/v1/object/public/FritosHermanos/crispy2.png"
          alt="Logo"
          class="anonimo-logo"
        />
        <h2 class="anonimo-title">Ingreso Anónimo</h2>
        <p class="anonimo-subtitle">Registrate con nombre y foto para ingresar.</p>
      </header>
      
      <form [formGroup]="anonimoForm" (ngSubmit)="registrarAnonimo()" class="ion-padding">
        <ion-item class="fritos-input">
          <ion-icon slot="start" name="person-outline" color="fritos-blue"></ion-icon>
          <ion-label position="floating">Tu Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="fritos-input">
          <ion-icon slot="start" name="camera-outline" color="fritos-blue"></ion-icon>
          <ion-label>Foto de Perfil</ion-label>
          <ion-button fill="clear" color="secondary" slot="end" (click)="tomarFoto()">
            <ion-icon slot="icon-only" name="camera" color="fritos-blue"></ion-icon>
          </ion-button>
        </ion-item>

        <div *ngIf="imagenURL" class="preview-wrapper">
          <img [src]="imagenURL" alt="Preview" />
        </div>
        
        <ion-button expand="block" type="submit" [disabled]="anonimoForm.invalid" class="ion-margin-top">
          <ion-icon slot="start" name="log-in-outline"></ion-icon>
          ENTRAR A LA APLICACION
        </ion-button>
      </form>

    </div>
    
    <div class="volver-panel ion-padding" style="background-color: #d32f2fc6; color: white;" >
      <ion-button expand="block" color="secondary" fill="clear" class="ion-margin-top" (click)="volverBienvenida()">
        <ion-icon slot="start" color="secondary" name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </div>
    
  </div>
</ion-content>
