<ion-content fullscreen class="bebida-content">

  <ion-header class="fritos-header-modern">
    <header class="header-minimal">
            
            <div class="brand-section">
                <div class="brand-icon">
                  <img src="../../../assets/imgs/crispy2.png" alt="Logo Fritos Hermanos" class="fritos-logo"> 
                </div>
            </div>
            
            <div class="center-title">
                <h1>Bebidas</h1>
            </div>

                        <button class="action-btn" routerLink="/home" >VOLVER</button>
        </header>
  </ion-header>
  <!-- Formulario de carga -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-bebida form-container">

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Tiempo elaboración (min)</ion-label>
      <ion-input type="number" formControlName="tiempo_elaboracion"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Precio ($)</ion-label>
      <ion-input type="number" formControlName="precio"></ion-input>
    </ion-item>

    <!-- Subida de fotos -->
    <!-- <ion-item>
  <ion-label>Foto 1</ion-label>
    <input type="file" accept="image/*" (change)="onFileSelected($event,0)" />
  </ion-item>

  <ion-item>
    <ion-label>Foto 2</ion-label>
    <input type="file" accept="image/*" (change)="onFileSelected($event,1)" />
  </ion-item>

  <ion-item>
    <ion-label>Foto 3</ion-label>
    <input type="file" accept="image/*" (change)="onFileSelected($event, 2)" />
  </ion-item> -->

  <div class="upload-container">
  <ion-button expand="block" color="fritos-blue" (click)="abrirFileInput(0)">
    <ion-icon name="camera-outline" slot="start"></ion-icon>
    Subir Foto 1
  </ion-button>
  <input #fileInput0 type="file" hidden accept="image/*" (change)="onFileSelected($event,0)" />
</div>

<div class="upload-container">
  <ion-button expand="block" color="fritos-blue" (click)="abrirFileInput(1)">
    <ion-icon name="camera-outline" slot="start"></ion-icon>
    Subir Foto 2
  </ion-button>
  <input #fileInput1 type="file" hidden accept="image/*" (change)="onFileSelected($event,1)" />
</div>

<div class="upload-container">
  <ion-button expand="block" color="fritos-blue" (click)="abrirFileInput(2)">
    <ion-icon name="camera-outline" slot="start"></ion-icon>
    Subir Foto 3
  </ion-button>
  <input #fileInput2 type="file" hidden accept="image/*" (change)="onFileSelected($event,2)" />
</div>
    
    <!-- Vista previa -->
  <!-- <div class="preview-fotos" *ngIf="selectedFiles.length > 0">
    <div *ngFor="let file of selectedFiles">
      <img [src]="file ? (file | vistaPreviaFotos) : ''" />
    </div> 

  </div> -->

  <!-- IMPLEMENTANDO DIRECTIVAS -->
  @if (selectedFiles.length > 0) {
  <div class="preview-fotos">
    @for (file of selectedFiles; track file) {
      <img [src]="file | vistaPreviaFotos" />
    }
  </div>
}

    <!-- Botón de guardar -->
    <ion-button expand="block" type="submit" class="btn-guardar">
      <ion-icon name="save-outline"></ion-icon>
      Guardar Bebida
    </ion-button>
    <ion-button expand="block" type="button" class="btn-volver" routerLink="/home">
      <ion-icon name="arrow-undo-circle-outline"></ion-icon>
      Volver a Página Principal
    </ion-button>
  </form>

  <!-- Mensajes de feedback -->
  <div class="mensaje">
    <ion-text color="light">{{ mensaje }}</ion-text>
  </div>

</ion-content>